{% set debug = 1 %}

{# Licenses we can safely explicitly ignore #}
{# We use MPL 1.1 code under MPL 2. We check 'fileref's elsewhere. #}
{# CPL is excluded because the CPL code is in a directory we're not shipping,
   but it still gets detected because the Android people copied the CPL into
   a NOTICE file. Grr. #}
{% set ignore_res = ['autoconf-exception',
                     '^BSD-4-Clause_Winning$',
                     '^CC-BY$',
                     '^CPL-1.0$',
                     'fileref',
                     '^FTL_fulltext$',
                     '^HPND_no-repro-required$',
                     '^IJG$',
                     '^Libpng$',
                     'libtool-exception',
                     'lookelsewhere$',
                     '^MIT_ref$',
                     '^MPL-1.1',
                     '^none$',
                     '^OpenSSL_ref$',
                     '^PD$',
                     '^PD_',
                     '^Permissive',
                     '^SunRPC$',
                     '^WHATWG$',
                     '^Zlib',
                     'suspicious',
                     'proprietary',
] %}

{% set ignorables = licenses.pop_by_re(ignore_res) %}

{# "Reproducibles" are permissive licenses for which we are required to
   reproduce the text. Add "suspicious" to repro_res to also see a list of
   files with unknown licenses. #}
{% set repro_res = ['^AFL',
                    '^Boost',
                    '^BSD',
                    '^curl',
                    '^EDLEPL',
                    '^FTL',
                    '^HPND',
                    '^ICU$',
                    '^libjpeg',
                    '^MirOS$',
                    '^MIT',
                    '^NAIST$',
                    '^NVidia$',
                    '^OFL',
                    '^Python-2.0$',
                    '^SGI-B-2.0$',
                    '^Unicode',
                    '^W3C',
                    '^WebM',
] %}

{% set reproducibles = licenses.pop_by_re(repro_res) %}

{# "Specials" are licenses which are called out by name at the top. The name
   of the template used is given by the 'template' variable, or the 'tag'
   variable if there is no 'template' variable. Set 'showfiles' to see a
   list of files when in debug mode - useful if this license isn't supposed to
   appear and you want to know why it does. #}
{% set specials = [{
        'tag':       'MPL-2.0',
        'title':     'Mozilla Public License 2.0',
    }, {
        'tag':       'Apache-2.0',
        'title':     'Apache License 2.0',
    }, {
        'tag':       '(LGPL-1.0+|LGPL-2.1|LGPL-1.0+_ref)',
        'template':  'LGPL-2.1',
        'title':     'GNU Lesser General Public License 2.1',
        'showfiles': 1
    }, {
        'tag':       '(GPL-1.0+|GPL-2.0)',
        'template':  'GPL-2.0',
        'title':     'GNU General Public License 2.0',
        'showfiles': 1
    }, {
        'tag':       'GPL-3.0$',
        'template':  'GPL-3.0',
        'title':     'GNU General Public License 3.0',
        'showfiles': 1
    }, {
        'tag':       'CDDL-1.0',
        'title':     'Common Development and Distribution License 1.0',
        'showfiles': 1
    }, {
        'tag':       'EPL-1.0',
        'title':     'Eclipse Public License 1.0',
        'showfiles': 1
    }
] %}

{% for special in specials %}
    {%- set tag = special['tag'] %}
    {%- do special.update({'licenses': licenses.pop_by_re("^" + tag)}) %}
{% endfor %}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <meta charset="UTF-8">
  <title>Open Source Licensing Information</title>
  <style type="text/css">
    body > * {
      /* some lines are too long, mostly because of email addresses */
      max-width: 100%;
      overflow: hidden;
    }
    dt {
      font-weight: bold;
      font-size: 100%;
    }
    pre {
      margin-left: 2em;
      white-space: normal;
    }
    /* EPL */
    p.c2 {
      font-weight: bold;
    }
    div.c1 {
      text-align: right;
    }
  </style>
</head>

<body>
<h1>Open Source Licensing Information</h1>

{% if debug %}
<p><b>Debugging output is on - turn it off by changing the 'debug' flag at the
top of the template.</b></p>
{% endif %}

<p> The <a href="http://www.opensource.org/docs/definition.php">open source</a> and
<a href="http://www.gnu.org/philosophy/free-sw.html">free software</a> in
this product is available under one of the following licenses. These licenses
give you the freedom to run the software, study it, change it to meet your
needs, and share your changes with others. You can
<a href="https://developer.mozilla.org/en-US/docs/Mozilla/Boot_to_Gecko/Building_and_installing_Firefox_OS">download the source code</a>
from Mozilla. Please consult the source to see which license applies to which
parts of the code.
</p>

<p>We are very grateful for the hard work of tens of thousands of contributors
to many different open source and free software communities around the world
over the past 30 years, without whose efforts this product would not exist.
</p>

<ul>

{% for special in specials %}
    {% set anchor = special['template'] or special['tag'] %}
    {%- if special['licenses'] %}
        <li><a href="#{{ anchor }}">{{ special['title'] }}</a></li>
    {% endif %}
{% endfor %}

{% if reproducibles %}
    <li><a href="#Permissive">Permissive Licenses</a></li>
{% endif %}

</ul>

{% for special in specials %}
    {% set tag = special['tag'] %}
    {% set template = special['template'] or special['tag'] %}
    {% if special['licenses'] %}
        <hr>
        <a id="{{ template }}"></a>
        <h2>{{ special['title'] }}</h2>
        {% include template + '.html' %}

        {% if debug and 'showfiles' in special %}
            {% for subtag in special.licenses %}
                <h3>Tag: {{ subtag }}</h3>
                <ul>
                {% for license in special.licenses[subtag] %}
                    {% set files = license['files'] %}
                    {% for file in files|sort %}
                        <li>{{ file|e }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if reproducibles %}

<hr>

<a id="Permissive"></a>
<h2>Permissive Licenses</h2>

<p>Many free software licenses require reproduction of copyright ownership
information and the license text in the distribution documentation. Those
licenses are reproduced below.</p>

{% if debug %}
    <ul>
    {% for tag in reproducibles %}
        {% set licenses = reproducibles[tag] %}
        <li>{{ tag }}: {{ reproducibles[tag]|length }}
    {% endfor %}
    </ul>
{% endif %}

{% for tag in reproducibles %}
    {% set licenses = reproducibles[tag] %}

    {%- if template_exists(tag + '.html') %}
        {# Combine copyright lines if we're only going to have one text #}
        {% set combined = {'files': [], 'copyrights': []} %}
        {% for license in licenses %}
          {% do combined['files'].extend(license['files']) %}
          {% do combined['copyrights'].extend(license['copyrights']) %}
        {% endfor %}
        {% set licenses = [combined] %}
    {% endif %}

    {% for license in licenses %}
        <hr>

        {% if debug %}
            <h2>Tag: {{ tag }}</h2>

            <ul>
            {% for file in license.files %}
                <li>{{ file|e }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if 'copyrights' in license and license.copyrights|length > 0 %}
            <ul>
            {% for copyright in license.copyrights %}
                <li>{{ copyright|e }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <pre>
        {%- if template_exists(tag + '.html') %}
            {%- include tag + '.html' %}
        {%- else %}
            {{- license.html }}
        {%- endif %}
        </pre>
    {% endfor %}
{% endfor %}

{% endif %}

{% if debug %}
    {% set proprietaries = licenses.pop_by_re('^proprietary') %}

    {% for tag in proprietaries %}
        <hr>

        <h2>{{ tag }}</h2>
        <ul>
        {% set licenses = proprietaries[tag] %}
        {% for license in licenses %}

            {% for file in license.files %}
                <li>{{ file|e }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endfor %}

    {% if licenses %}
        <h2>XXX Licenses Unaccounted-For XXX</h2>
        <ul>
        {% for license in licenses %}
            <li>{{ license }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if fileref_problem_dirs %}
        <h2>XXX Dirs Containing Filerefs With No License File XXX</h2>
        <ul>
        {% for dir in fileref_problem_dirs %}
            <li>{{ dir }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if fileref_problem_files %}
        <h2>XXX Filerefs With No License File XXX</h2>
        <ul>
        {% for file in fileref_problem_files %}
            <li>{{ file }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if license_files %}
        <h2>XXX License Files Processed XXX</h2>
        <ul>
        {% for file in license_files %}
            <li>{{ file }}: {{ license_files[file] }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}

</body>
</html>
